[user]
    useconfigonly = true
[core]
    compression = 7
[diff]
    mnemonicprefix = true
    compactionheuristic = true
[merge]
    conflictstyle = diff3
[push]
    default = current
[pull]
    ff = only
[rebase]
    autosquash = true
[alias]
    ap = add --patch
    an = add --intent-to-add
    st = status -s
    ci = commit -v
    ca = commit --amend -C HEAD
    co = checkout
    di = diff
    dc = diff --cached
    dw = diff --word-diff=color
    lg = log --oneline --decorate --graph
    io = log --left-right --oneline --graph @{u}...
    br = branch
    pf = push --force-with-lease
[include]
    path = ~/.gitconfig.local
